node_modules/
# .env
.env.local
/uploads/*
!.gitkeep
dist/
build/
.DS_Store
*.log
# python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.vscode/
.venv/
backend/uploads/categorias/
backend/uploads/produtos/
backend/tree.txt
inutilizados/
scripts/cadastrar_admin.py
backend/admin
nbshelper
hrmmotos